<%- include('./templates/header'); -%>

<body>
  <%- include('./templates/nav'); -%>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <%- include('./templates/nav-end'); -%>
</body>



<%- include('./templates/footer'); -%>